In [1]:

import numpy as np
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/yashal/.local/lib/python3.10/site-packages (2.0.0)

In [2]:
df = pd.read_csv('spam.csv', encoding='latin1')

In [3]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
2040,ham,You always make things bigger than they are,NaN,NaN,NaN
46,ham,Didn't you get hep b immunisation in nigeria.,NaN,NaN,NaN
52,ham,K fyi x has a ride early tomorrow morning but ...,NaN,NaN,NaN
3699,ham,Oh...i asked for fun. Haha...take care. Ì_,NaN,NaN,NaN
4894,spam,Want the latest Video handset? 750 anytime any...,NaN,NaN,NaN

In [4]:
df.shape

(5572, 5)

## Data Cleaning

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

### since the last 3 colums are useless so remove it from the datafrmae

In [11]:
df=df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'])

### renaming the name of 2 columns v1 and v2 to target and text

In [12]:
df.rename(columns={'v1':'target','v2':'text'},inplace=True)

In [13]:
df.sample(5)

     target                                               text
5123    ham                     Hi Chikku, send some nice msgs
235     ham  I have printed it oh. So  &lt;#&gt;  come upst...
1192    ham  I was up all night too worrying about this app...
5062    ham               Ok i also wan 2 watch e 9 pm show...
3301    ham  Stop calling everyone saying I might have canc...

In [18]:

from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [19]:
df['target'] = encoder.fit_transform(df['target'])

In [20]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...