In [2]:
import  numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('spam.csv', encoding='latin1')

In [5]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5455,ham,Wishing you a beautiful day. Each moment revea...,NaN,NaN,NaN
5444,ham,Good morning. At the repair shop--the ONLY rea...,NaN,NaN,NaN
1766,spam,SMS AUCTION You have won a Nokia 7250i. This i...,NaN,NaN,NaN
300,ham,"Awesome, I remember the last time we got someb...",NaN,NaN,NaN
2971,ham,Sary just need Tim in the bollox &it hurt him ...,NaN,NaN,NaN